---
layout: default
title: Practice files
---


<main class="main">
	<div class="header">
        <div class="ontop">
            <ul>
            <li class="list">CSS
                <ul>
                    <li><a class ="listLink" href=".\source\css\css-1\css-work-1.html" target="_blank" rel="noopener noreferrer">/css-work-1</a></li>
                    <li><a class ="listLink" href=".\source\css\css-2_scrimba-color-tool\index.html" target="_blank" rel="noopener noreferrer">/color-tool</a></li>
                    <li><a class ="listLink" href=".\source\css\css-3_scrimba-cloning-course-card\index.html" target="_blank" rel="noopener noreferrer">/cloning-course-card</a></li>
                    <li><a class ="listLink" href=".\source\css\css-4_scrimba-challenge-pricing-component\index.html" target="_blank" rel="noopener noreferrer">/pricing-component</a></li>
                    <li><a class ="listLink" href=".\source\css\css-5_blinking-light\index.html"target="_blank" rel="noopener noreferrer" >/blinking-light</a></li>
                    <li><a class ="listLink" href=".\source\css\css-6_flex-grid-float\index.html" target="_blank" rel="noopener noreferrer">/flex-grid-float</a></li>
                </ul>
            </li>
    
            <li class="list">JS
                <ul>
                    <li><a class ="listLink" href=".\source\javascript\js-1\index.html" target="_blank" rel="noopener noreferrer">/javascript-1</a></li>
                    <li><a class ="listLink" href=".\source\javascript\js-2_freeCode-JS\index.html" target="_blank" rel="noopener noreferrer">/freeCode-JS</a></li>
                    <li><a class ="listLink" href=".\source\javascript\js-3_dom-manipulation\index.html" target="_blank" rel="noopener noreferrer">/dom-manipulation</a></li>
                    <li><a class ="listLink" href=".\source\javascript\js-4_rock-paper-scissor\index.html" target="_blank" rel="noopener noreferrer">/rock-paper-scissor</a></li>
                    <li><a class ="listLink" href=".\source\javascript\js-5_scrimba\index.html" target="_blank" rel="noopener noreferrer">/scrimba</a></li>
                    <li><a class ="listLink" href=".\source\javascript\js-6_greasemonkey_dom\darkTS.js" target="_blank" rel="noopener noreferrer">/dom/darkTS.js</a></li>
                    <li><a class ="listLink" href=".\source\javascript\js-6_greasemonkey_dom\darkTW.js" target="_blank" rel="noopener noreferrer">/dom/darkTW.js</a></li>
                    <li><a class ="listLink" href=".\source\javascript\js-6_greasemonkey_dom\darkTWT.js" target="_blank" rel="noopener noreferrer">/dom/darkTWT.js</a></li>
                    <li><a class ="listLink" href=".\source\javascript\js-6_greasemonkey_dom\darkYT.js" target="_blank" rel="noopener noreferrer">/dom/darkYT.js</a></li>
                    <li><a class ="listLink" href=".\source\javascript\js-7_youtube-subtitle\index.html" target="_blank" rel="noopener noreferrer">/youtube-subtitle</a></li>
                    <li><a class ="listLink" href=".\source\javascript\js-8_read-json\index.html" target="_blank" rel="noopener noreferrer">/read-json</a></li>
                </ul>
            </li>
            </ul>
        </div>

        <div class="ontop">
            <ul>
            <li class="list">CAD
                <ul>
                <li><a class ="listLink" href="https://gitlab.com/fatihmehmetozcan/practice-files-pages/-/tree/master/source/cad/sw-1" target="_blank" rel="noopener noreferrer">/cad/sw-1</a></li>
                </ul>
            </li>

            <li class="list">Excel
                <ul>
                <li><a class ="listLink" href="https://gitlab.com/fatihmehmetozcan/practice-files-pages/-/tree/master/source/excel/excel-1_tips%26tricks" target="_blank" rel="noopener noreferrer">/excel-1</a></li>
                <li><a class ="listLink" href="https://gitlab.com/fatihmehmetozcan/practice-files-pages/-/tree/master/source/excel/excel-2_array-vs-advancedFilter" target="_blank" rel="noopener noreferrer">/array-vs-advancedFilter</a></li>
                <li><a class ="listLink" href="https://gitlab.com/fatihmehmetozcan/practice-files-pages/-/tree/master/source/excel/excel-4_context-ribbon" target="_blank" rel="noopener noreferrer">/context-ribbon</a></li>
                <li><a class ="listLink" href="https://gitlab.com/fatihmehmetozcan/practice-files-pages/-/tree/master/source/excel/excel-5_custom-images-ribbon" target="_blank" rel="noopener noreferrer">/custom-images-ribbon</a></li>
                </ul>
            </li>

            <li class="list">C
                <ul>
                <li><a class="listLink" href="https://gitlab.com/fatihmehmetozcan/practice-files-pages/-/tree/master/source/c" target="_blank" rel="noopener noreferrer">/c-1</a></li>
                </ul>
            </li>
        </ul>
        </div>
    </div>

    <div class="canvas-wrap">
        <canvas id="canvas"></canvas>
    </div>
    
    <div class="content">
	    <a href="https://fatihmehmetozcan.gitlab.io"><h1>💻</h1></a>
	    <ul class="bottom"></ul>
    </div>

</main>

<script>
    (function () {
    "use strict";

    var cvs, ctx;
    var nodes = 6;
    var waves = [];
    var waveHeight = 60;
    var colours = ["#f80000", "#00f800", "#0000f8"];

    // Initiator function
    function init() {
        cvs = document.getElementById("canvas");
        ctx = cvs.getContext("2d");
        resizeCanvas(cvs);

        for (var i = 0; i < 3; i++) {
            waves.push(new wave(colours[i], 1, nodes));
        }

        update();
    }

    function update() {
        var fill = window.getComputedStyle(document.querySelector(".header"), null).getPropertyValue("background-color");
        ctx.fillStyle = fill;
        ctx.globalCompositeOperation = "source-over";
        ctx.fillRect(0, 0, cvs.width, cvs.height);
        ctx.globalCompositeOperation = "screen";
        for (var i = 0; i < waves.length; i++) {
            for (var j = 0; j < waves[i].nodes.length; j++) {
                bounce(waves[i].nodes[j]);
            }
            drawWave(waves[i]);
        }
        ctx.fillStyle = fill;

        requestAnimationFrame(update);
    }

    function wave(colour, lambda, nodes) {

        this.colour = colour;
        this.lambda = lambda;
        this.nodes = [];
        var tick = 1;

        for (var i = 0; i <= nodes + 2; i++) {
            var temp = [(i - 1) * cvs.width / nodes, 0, Math.random() * 300, .3];
            this.nodes.push(temp);
            // console.log(temp);
        }
        // console.log(this.nodes);
    }

    function bounce(nodeArr) {
        nodeArr[1] = waveHeight / 2 * Math.sin(nodeArr[2] / 20) + cvs.height / 2;
        nodeArr[2] = nodeArr[2] + nodeArr[3];

    }

    function drawWave(obj) {

        var diff = function (a, b) {
            return (b - a) / 2 + a;
        }

        ctx.fillStyle = obj.colour;
        ctx.beginPath();
        ctx.moveTo(0, cvs.height);
        ctx.lineTo(obj.nodes[0][0], obj.nodes[0][1]);

        for (var i = 0; i < obj.nodes.length; i++) {

            if (obj.nodes[i + 1]) {
                ctx.quadraticCurveTo(
                    obj.nodes[i][0], obj.nodes[i][1],
                    diff(obj.nodes[i][0], obj.nodes[i + 1][0]), diff(obj.nodes[i][1], obj.nodes[i + 1][1])
                );
            }
            else {
                ctx.lineTo(obj.nodes[i][0], obj.nodes[i][1]);
                ctx.lineTo(cvs.width, cvs.height);
            }
        }
        ctx.closePath();
        ctx.fill();
    }

    function drawNodes(array) {
        ctx.strokeStyle = "#888";

        for (var i = 0; i < array.length; i++) {
            ctx.beginPath();
            ctx.arc(array[i][0], array[i][1], 4, 0, 2 * Math.PI);
            ctx.closePath();
            ctx.closePath();
            ctx.stroke();
        }

    }

    function drawLine(array) {
        ctx.strokeStyle = "#888";

        for (var i = 0; i < array.length; i++) {

            if (array[i + 1]) {
                ctx.lineTo(array[i + 1][0], array[i + 1][1]);
            }
        }

        ctx.stroke();
    }

    function resizeCanvas(canvas, width, height) {

        if (width && height) {
            canvas.width = width;
            canvas.height = height;
        }
        else {

            if (window.innerWidth > 1920) {
                canvas.width = window.innerWidth;
            }
            else {
                canvas.width = 1920;
            }

            canvas.height = waveHeight;
        }
    }

    document.addEventListener("DOMContentLoaded", init, false);
})();
</script>
