
    * {
        box-sizing: border-box;
      }
      
      html, body {
        width: 100%;
        height: 100%;
      }
      
      body {
        font-family: Arial, Helvetica, sans-serif;
        color: #eee;
        margin: 0;
        padding: 0;
        background: #4400ff;
      }
 
      html {
        font-family: "Work Sans", sans-serif;
        color: rgb(224, 100, 100);
        line-height: 1.5;
        font-weight: 300;
      }
      
      #container {
        text-align: left;
        width: 100%;
        height: 100%;
      }
 
     .header, .content {
        min-height: 100px;
        height: 50vh;
        display: flex;
        justify-content: center;
      }
      
      .header { background-color: var(--primary); color: rgb(229, 255, 0);
      }
      
      .content {
        color: var(--primary);
        align-items: center;
      }
      
      h1 {
        font-size: 3rem;
        letter-spacing: .1ch;
        font-weight: 300;
        margin: 0;
        opacity: .5;
      }
      
      .main {
        background-color: aquamarine;
      }
 
      .ontop {
      z-index: 1000;
      /* position: absolute; */
      margin: 40px;
      }

      .bottom {
        z-index: 1000;
        position: absolute;
        left: 30px;
        bottom: 20px;
      }

      .list {
        font-size: 12px;
        list-style-position: inside;
      }

      .listLink {
        text-decoration: none;
      }

      .listLink:hover {
        text-decoration: underline;
      }
      .listLink:visited {
        color: lightblue;
      }
       .listLink:link  {
        color: cadetblue;
      }     
     
      @media only screen and (max-width: 1023px) {
        .ontop {
          margin:auto;
        }
        .canvas-wrap {
          display:none;
        }
        .header{
          display:block;
        }
        * {
          background-color: black !important;
        }
           .listLink:link  {
        color: darkolivegreen;
      }   
    }
      
      /* WAVES */
      
      :root {
        --primary: #6455a3;
      }
      
      *,*:before,*:after {
        box-sizing: border-box;
      }
     
      .canvas-wrap {
        max-width: 100%;
        overflow: hidden;
        position: absolute;
        transform: translateY(-50%);
      }
      
      canvas {
        display: block;
      }

      .frame {
        position: relative;
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: 20%;
        border: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        z-index: 999999;
        height: 20%;
      }
 
