* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}
body {
  font-family: Arial, Helvetica, sans-serif;}

.linkInfo {
    font-size: 1.2em;
    text-decoration: none;
}
.linkInfo:hover {
    text-decoration: underline;
}
.linkInfo:visited{
    color:rgba(150, 75, 75, 0.6);
}
.subDiv{ 
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
    border: 3px solid rgba(255, 105, 180, 0.75);
    width:50%;
}
.onlyDiv {
    display: inline-block;
    text-align: left;
    border:20px solid rgba(240, 240, 240, 0.5);
    width: 100%; height: 100%;
    padding:20px;
}