* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

.content {
    text-align: left;
    border:20px solid rgb(230, 230, 230);
    width: 100%;
    height: 100%;
}