 * {
     margin:0;
     padding:0;
     box-sizing: border-box;
 }
 html, body {
    position: relative;
}

    body {
    background: rgba(250, 250, 250, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    border: 20px solid rgb(220, 220, 220);
    height:100vh;
    width:100%;
}

 .light {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
     height:300px;
     width:300px;
     border-radius: 150px;
     border:2px dashed rgb(255, 255, 255);
     background-color: rgb(180, 70, 70);
     opacity: 0;
     animation: blinking 3s linear infinite;
 }

 @keyframes blinking {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

  /* At the top level of your code */
@media screen and (max-width: 500px) {
    .light {
      height: 100px;
      width: 100px;
      border-radius: 50px;
    }
  }