* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  --color-primary: #eee;
  --color-text: #222;
  --color-alternative: #ddd;
  --color-slider: rgb(255, 255, 255);
  --color-sliderButton: rgb(255, 142, 142);
  --color-shadow: rgb(130, 200, 255);
  --color-background: steelblue;
}

.outer {
  /* width: 800px;
  height: 650px; */
  width: 100%;
  height: 100%;
  border: 15px solid var(--color-alternative);
}
.tool {
  box-shadow: 2px 4px 8px var(--color-shadow);
  margin: auto;
  /* width: 600px;
  height: 450px; */
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  padding: 20px;
}
.center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--color-text);
  height: 70px;
  width: 100%;
  text-align: center;
}
.toneSetting {
  display: flex;
}
.alteredColorBox,
.inputColorBox {
  height: 60px;
  width: 100%;
}
.alteredColorBox {
  background-color: white;
}
.inputColorBox {
  background-color: white;
}
.hex,
.alteredColorBox,
.inputColorBox,
.toneSetting,
.percentDiv,
.inputResult,
.alteredResult {
  margin-top: 10px;
  margin-bottom: 10px;
}
.percentSlider {
  height: 5px;
  width: 100px;
  background-color: var(--color-slider);
  margin-top: 5px;
  border-radius: 2px;
}
.settingSlider {
  height: 16px;
  width: 30px;
  background-color: var(--color-slider);
  border-radius: 8px;
  margin-right: 5px;
  pointer-events: none;
}
.sliderButton {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: var(--color-sliderButton);
  margin-left: -5px;
}
.sliderButton:hover{
  box-shadow: 0 0 3px var(--color-shadow);
}
.slide-left {
  margin-left: 15px;
}

.colorInput {
  margin-top: 5px;
}

.slider {
  display:block;
  pointer-events: none;
}

#lighten, #darken {
margin-right: 5px;
padding-right:5px;
}

/* adaptive */
@media only screen and (min-width: 888px) {
  .outer {
    /* display: inline-block; */
    width: 800px;
    height: 650px;
    margin:auto;
  }
  .tool {
    width: 600px;
    height: 450px;
  }
}