* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body {
   width: 100%; height: 100%; margin: 0; padding: 0; font-size: 14px;

}

p {
   margin-bottom: 10px;
}

.content {
   border: 20px solid #eee;
   padding:20px; margin: auto;
}

/* All */
.box {
   border: 1px solid rgba(160, 130, 130, 0.5);
   box-shadow: 0px 2px 10px rgba(160, 130, 130, 0.3);
   border-radius: 2px;
   margin-bottom: 50px;
   padding: 20px;
}
.sub-box {
   width: 150px;
   border-radius: 2px;
   display: inline-block;
   margin:10px;
   padding:10px;
   border: 1px solid rgba(70, 55, 55, 0.4);
   background-color: rgba(70, 55, 55, 0.05);
}

.header {
   font-size: 20px;
   color: rgb(140, 70, 35);
}

/* Inline-block */
.inline-block {
   text-align: left;
}
.sub-inline-block {
   vertical-align: middle;
   display: inline-block;
   vertical-align: middle;
}



/* Position */
.position {
   position: relative;
   height: 650px;
}
.sub-position {
   position: absolute
}
.sub-position:nth-child(1) {top: 250px; left: 100px}
.sub-position:nth-child(2) {bottom: 10px; left: 300px}
.sub-position:nth-child(3) {top: 20px; left: 550px}
.sub-position:nth-child(4) {top: 140px; left: 700px}

/* Flex */
.flex {
   display: flex; flex-direction: row; justify-content: space-around; align-items: left; flex-wrap: wrap;
}
.sub-flex {
   width:300px;
}

/* Grid */
.grid {
   display: grid; grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(3, 1fr);
   grid-auto-rows: 100px;
  grid-gap: 20px;
}
.sub-grid {
 display: block;  
 height:200px;
 text-overflow: ellipsis;
 overflow: hidden;
 width:auto;
}
.sub-grid:nth-child(4) {grid-column: 1 / 2; grid-row: 1 / 2}
.sub-grid:nth-child(3) {grid-column: 2 / 3; grid-row: 1 / 2}
.sub-grid:nth-child(1) {grid-column: 3 / 4; grid-row: 1 / 2}
.sub-grid:nth-child(2) {grid-column: 4 / 5; grid-row: 1 / 2}
.sub-grid:nth-child(5) {grid-column: 1 / 5; grid-row: 2 / 3}
.sub-grid:nth-child(6) {grid-column: 1 / 5; grid-row: 3 / 4}


/* Float*/
.float {
   width: 100%;
   display: inline-block;
}
.sub-float {
   float: right;
}