* {
  margin:0;
  padding:0;
  box-sizing: border-box;}


body {
  background: rgba(250, 250, 250, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  border:20px solid #eee;
  width:100%; height: 100vh;
}

.content {
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;

  width:100%; height: 100vh;
  position:fixed;
  padding: 50px;
  margin:0;
  top:0;
  left:0;
  }
  .content a:hover {text-decoration: none;}
/*
DESCRIPTION:

You challenge is clone a course card from Scrimba's homepage.

For the layout, you can go grid or flex.

Some extra things to look into:
 - logical properties for margin and padding
 - the new color syntax (for RGB and HSL)
 
 Stretch goals: 
  - Add those fun bubble animations!
  - Create a set of cards where the colors (and other things?) are updated through the use of custom properties

*/