* {
    margin:0;
    padding:0;
    box-sizing: border-box;}

  html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(250, 250, 252, 0.5);
  }
  
  .content {
    display: inline-block;
    text-align: center;
    border:30px solid #ddd;
    width: 100%; height: 100%;
    border-radius: 70px;
    background-color: rgba(250, 250, 252, 0.5);
    padding: 10px;
    }
    .content a:hover {text-decoration: none;}
    
    .content > a {
      text-decoration: none;
    }

    .content > a:hover {
      text-decoration: underline;
    }