* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

.addedDiv {
color:hotpink;
border: 2px dashed red;
padding: 3px;
width: 50%;
margin-top: 10px;
}

.change{
    color:lightblue;
    font-size:100px;
    border:10px solid black;
}

.content {
    display: inline-block;
    text-align: left;
    border:20px solid rgb(230, 230, 230);
    width: 100%;
    height: 100%;
    padding-left:25px;
}
.content > a:hover {
    text-decoration: underline;
}

.content > a {
    text-decoration: none;
}
