<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Fatih Mehmet Özcan" />
  <meta name="description" property="og:description" content="Practice files" />
  <meta name="title" property="og:title" content="Practice files" />
  <meta property="og:type" content="Practice files" />
  <title>{{ page.title }}</title>
  <link href="/practice-files-pages/main.css" rel="stylesheet">
</head>

<body>
  <div id="container">{{ content }}</div>
</body>

</html>
